
@import '~@angular/material/theming';





@mixin tabs-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    $background-color: mat-color($background, card);


    .search-field {
        @include mat-elevation(2);
        background-color: white;
        border: 1rem solid $background-color;
        padding: 2rem;
        min-height: 200px;
        min-width: 200px;
        
        
        input {
            background-color: $background-color;
            font-family: 'Pacifico';
            line-height: 1.4rem;
            font-size: 2rem;
            
        }
    }
  }


$darkestBlue: #03022f;
$medDarkBlue: #042b46;
$brightBlue: #03aeef;


mat-ink-bar.mat-ink-bar {
  background-color: $brightBlue !important;
  height: 4px;
}

mat-option{
  height: auto;
  display: table-cell;
  max-width: 200px;
  width: auto;
  word-wrap: break-word;
  line-height: 30px;
   text-align: center;
}

.float-right {float: right;}
.float-left{float: left;}

mat-option:after {
   content: "";
   border-left: #03aeef 2px solid;
   position: absolute;
   top: 10px;
   bottom: 10px;
   right: 0px;
   opacity: .3;

  }

  .mat-option-text > div {
    max-width: 190px;
  }



.left {
justify-content: flex-start;
  display: inline-flex;
  align-items: baseline;
}

.tabs{
  display: table;
  table-layout: auto;
    width: 100%;
}

.main-tab{
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  margin: 0px 20px;
  font-size: 23px;

}

div.mat-tab-label-active{
  &{
    opacity: 1;
  }
}


/*a:active {
  line-height: 3.5;
  border-bottom: 1px #03aeef solid;
  -webkit-animation: linear 0.5s forwards;
    
}

.active {
  line-height: 3.5;
  border-bottom: 10px #03aeef solid;
  -webkit-animation: linear 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: linear 0.5s forwards;
    animation-delay: 2s;
}*/


.right {
justify-content: flex-end;
  display: inline-flex;
  align-items: baseline;
  margin-left: auto;
}

.row{
  display: flex;
  align-items: baseline;
}

#search-field{
  padding: 0;
  width: 500px;

  /*line-height: .75;*/

}

#search-field > input[aria-expanded="true"]{
  padding: 0;
  width: 1000px;
  /*line-height: .75;*/
}
/*.mat-form-field, .mat-form-field-wrapper, .mat-form-field-flex, .ng-tns-c4-2, .mat-form-field-infix {
  border: 30px solid pink;
  height: 70px;
  padding: .5em 0 !important;
}*/

.mat-form-field-infix{
  padding: 0;
}
/*mat-form-field[appearance="outline"] > .mat-form-field-wrapper > .mat-form-field-flex{*/
.mat-form-field-outline > *{
  color: $darkestBlue;
}
.mat-form-field-outline{
  color: $darkestBlue;
  background-color: $medDarkBlue;
  border-radius: 5px;
  /*border-top: 5px solid #03022f;*/

}


.underline {
   text-decoration: none; 
   position: relative; 
 }   



$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;
$fastertransition: all .4s cubic-bezier(1,.25,.5,.75) 0s;

a {
  display: inline-flex;
  text-align: center;
  color: white;
  opacity: .6;
  text-decoration: none;
  position: relative;
  -webkit-transition: $fastertransition;
  transition: $fastertransition;

/*
  webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
*/

  &:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -25px; 
  left: 0;
  background-color: #0b588f;
  /*opacity: 1;*/
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: $thetransition;
  transition: $thetransition;
  }
  &:hover:before, .active {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }

  &:hover{
    opacity: .8;
  };

  :after{

  };

  .active {
  visibility: visible;
  
  background-color: pink;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }

}


.active{
  &{
    color: white;
    opacity: 1;
  }
}

.active:after {
    position: absolute;
    height: 4px;
    
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    color: #000;
    background-color: #03aeef;
    left: 0;
    bottom: -25px; 
    /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}