.row {
	display: flex;
	justify-content: space-between;
	
}

.left {
	justify-content: left;
	display: flex;
}
.right {
	justify-content: right;
	display: flex;
}

.inline-select-label{
	line-height: 24px;
	font-family: 'Gotham';
	margin-right: 10px;
	color: gray;
	z-index: 10;
}

.dark-theme .mat-select-arrow, .mat-select-arrow {
	color: #03aeef !important;
}