<div class="row">
	<p class="inline-select-label">Channel Lineup for  </p>
	<div class="left"> 
			<mat-form-field>
				<mat-select [(value)]="pkgselected">
					<mat-option value="allaccess">All Access Package</mat-option>
					<mat-option value="select">Select</mat-option>
					<mat-option value="mostlymusic">Mostly Music</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

	  <div class="right">

			<button mat-button>
				<mat-icon svgIcon="print-icon" aria-label="Print button with a print icon"></mat-icon>
		  	Print
			</button>
			<button mat-button>
				<mat-icon svgIcon="download-icon" aria-label="Print button with a print icon"></mat-icon>
				Download
			</button>
		</div>
	
</div>

