@import '~@angular/material/theming';
@import '../../../styles/material-theme.scss';


$darkestBlue: #03022f;
$medDarkBlue: #042b46;
$lightDarkBlue: #094875;
$brightBlue: #03aeef;


table.mat-table{
	width: 100%;
	
	color: black;
	overflow: scroll;

	&tr:nth-child(odd) {
    background-color: white;
	}
	&tr:nth-child(even) {
    background-color: lightgray;
	}
}


.mat-cell{
	color: black;
}

th{
	background-color: $lightDarkBlue;
	color: white !important;
	font-weight: bold !important;
}

.mat-button{
	padding: 0;
	min-width: 40px;

}

