<table mat-table [dataSource]="dataSource" matSort scrollable class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let channel"> {{channel.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let channel"> {{channel.name}} </td>
  </ng-container>

  <!-- Logo Column -->
  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
    <td mat-cell *matCellDef="let channel"> <img src="../../../../assets/img/logos/{{channel.logo}}" alt=""> </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let channel"> {{channel.description}} </td>
  </ng-container>

 <!-- Buttons Column -->
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Buttons </th>
    <td mat-cell *matCellDef="let channel"> 
    	<button mat-button>
				<mat-icon svgIcon="play-icon" aria-label="Play button with a print icon"></mat-icon></button>
		<button mat-button>
				<mat-icon svgIcon="info-icon" aria-label="Information button with a print icon"></mat-icon></button>
		</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>