@import '~@angular/material/_theming.scss';

@mixin ai-mat-core($config) {
  // The unit-less line-height from the font config.
  $line-height: mat-line-height($config, input);
  // The amount of space between the top of the line and the top of the actual text
  // (as a fraction of the font-size).
  $line-spacing: ($line-height - 1) / 2;
  // The padding on the infix. Mocks show half of the text size, but seem to measure from the edge
  // of the text itself, not the edge of the line; therefore we subtract off the line spacing.

  $infix-padding: 0.3em - $line-spacing;
  // $infix-padding: 0;


  // The amount to scale the font for the floating label and subscript.
  $subscript-font-scale: 0.75;
  // The amount to scale the font for the prefix and suffix icons.
  $prefix-suffix-icon-font-scale: 1.5;

  // The padding on the infix. Mocks show half of the text size.
  $infix-padding: 0.5em;
  // The margin applied to the form-field-infix to reserve space for the floating label.
  $infix-margin-top: 1em * $line-height * $subscript-font-scale;


  .mat-form-field-infix {
    padding: $infix-padding;
    // border: 1px solid darkgrey;
    // border-radius: 3px;
    // background-color: white;
    border-top: ($infix-margin-top/3) solid transparent;
  }

  .mat-form-field-placeholder {
    // padding-left: $infix-padding;
  }

  .mat-form-field-appearance-outline{
    .mat-form-field-infix {
      padding: $infix-padding;
      // border-top: .1em;
    }

  }
}



@mixin ai-mat-form-field-theme($theme) {
  $background: map-get($theme, accent);
  $warn: map-get($theme, warn);
  
  .mat-form-field-underline {
    display: none;
  }

.mat-select-arrow {
  color: #03aeef;
}

  .mat-form-field-invalid {
    .mat-form-field-infix {
      // border-color: mat-color($warn);
    }
  }

}

