@import '~@angular/material/theming';
@import './component-themes';
@import 'ai-form-field';

$core-config: mat-typography-config();
@include mat-core($core-config);
// @include mat-core();

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);




// $config: mat-typography-config(
// 	$input: mat-typography-level(inherit, 0.925, 900)
// 	);
@include mat-form-field-outline-typography($core-config);


.my-light-theme{
	@include angular-material-theme($theme);
}

// @include mat-form-field-typography($core-config);
@include angular-material-theme($theme);
@include component-themes($theme);

@include ai-mat-core($core-config);
@include ai-mat-form-field-theme($theme);

// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-blue, A400, A100, A700);
  $dark-accent: mat-palette($mat-blue, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}


