.content{
  height: 100px;
  width: 100%;
}

.container{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.blue-background{
  background-color: #094875;
}

.bar1{
  position: absolute;
  height: 139px;
  width: 100%;
  top: 0;
  background-color: #03022f;

}
.bar2{
  position: absolute;
  height: 73px;
  width: 100%;
  top: 139px;
  background-color: #042b46;;

}