<!-- 

<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div class="mat-app-background">
    <app-toolbar></app-toolbar>
    <div class="content">
      <app-tile>Test</app-tile>
    </div>
  </div>
</div> -->
<div class="dark-theme">
  
    
  
<div class="blue-background">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
  <div class="container">
<nav-bar class="light-theme"></nav-bar>
</div>
</div>
</div>