
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/material-theme';






*:not(.mat-icon) {
	font-family: 'GothamPro', sans-serif;
}

a, a:visited {
	text-decoration: none;
	color: inherit;

}

.main-tab {
	font-weight: 500;
}

body {
	margin-right: 0;
}